<div class="container">
  <div class="row">

    <% if user_signed_in? %>
      <div class="col-md-3 mb-5">
        <h2 class="text-center mb-3">プロフィール</h2>
        <%= render "public/users/profile", user: current_user %>
      </div>

      <div class="col-md-8 offset-md-1">
        <h2 class="text-center mb-3">投稿一覧</h2>
        <%= render "public/posts/index", posts: @posts %>
      </div>
    
    <% else %>
      <div class="col-12 col-md-8 mx-auto">
        <h2 class="text-center mb-3">投稿一覧</h2>
        <%= render "public/posts/index", posts: @posts %>
      </div>
    <% end %>
    
  </div>
</div>
