<div class="container px-5 px-sm-0">
  <div class="row">
    
    <div class="col-md-3">
      <h2 class="text-center mb-3">プロフィール</h2>
      <%= render "public/users/profile", user: current_user %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2 class="text-center mb-3">投稿詳細</h2>
      <table class="table">
        <tr>
          <td>タイトル</td>
          <td><%= link_to @post.title, @post %></td>
        </tr>
        
        <tr>
          <td>本文</td>
          <td><%= @post.text %></td>
        </tr>
        
        <tr>
          <td>投稿画像</td>
          <td><%= image_tag @post.post_image(200, 200) %></td>
        </tr>
      </table>
    </div>
    
  </div>
</div>
