<% if @model == "user" %>
  <h3>ユーザー "<%= @content %>" の検索結果一覧です。</h3>
  <%= render "admin/users/index", users: @records %>
<% elsif @model == "post" %>
  <h3>キーワード "<%= @content %>" の検索結果一覧です。</h3>
  <%= render "admin/posts/index", posts: @records %>
<% end %>
