<table class="table">
  <%= link_to admin_user_path(user) do %>
    <tr>
      <%= image_tag user.get_profile_image(100, 100) %>
    </tr>
    <tr>
      <th>名前</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>紹介文</th>
      <th><%= user.introduction %></th>
    </tr>
  <% end %>
</table>
