<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      
      <div class="text-center mb-3">
        <h2>退会確認画面</h2>
        <h1>本当に退会させますか？</h1>
        <p class="py-4">
          退会させると、会員登録情報や<br>
          これまでの投稿が削除されます。<br>
          退会させる場合は、「退会させる」をクリックしてください。
        </p>
      </div>
      
      <div class="row">
        <div class="col-12 col-md-5 mx-auto py-3">
          <%= link_to "退会させない", admin_user_path(@user), class: "btn btn-primary btn-block mb-3" %>
          <%= link_to "退会させる", withdraw_admin_user_path(email: @user.email), method: :patch, class: "btn btn-danger btn-block" %>
        </div>
      </div>
      
    </div>
  </div>
</div>
